---
title: Index
---
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/res/favicon.ico">
    <link rel="shortcut icon" type="image/x-icon" href="res/triangle-circle.png">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <link rel="stylehseet" type="text/css" href="feathericon-release/css/feathericon.min.css">
    <link rel="stylesheet" type="text/css" href="styles.css">
    <title>Ryan Mahan</title>
  </head>

<body class="gradient">
  <main role="main">
    {% include header.html %}
    <br>
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <img src="../res/headshot.jpg">
          </div>
          <div class="col-md-8">
              <h1 class="display-3">Hey, I'm Ryan Mahan!</h1>
              <p>I love coding, hiking, and student leadership. At UMass (Class of 2019) I'm studying Computer Science, part of the web development team for <a class="link" href="http://hackumass.com">HackUMass</a>, and I run the <a class="link" href="https://umass.edu/sga">Student Government Association's</a> Legislative Branch.</p>
              <br>
              <p> 
                <a class="btn btn-primary btn-lg" href="/programming" role="button">Programming &raquo;</a>
                <a class="btn btn-primary btn-lg" href="/leadership" role="button">Leadership &raquo;</a>
              </p>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <h2 class="whitetext">Check out some of my work!</h2>
    </div>
    <br>
    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="whitetext col-md-4">
          <h2>WTF UMass</h2>
          <p>What to fix (WTF) UMass is a website written in Node, Vue, and MongoDB where student can submit feedback anonymous to their peers for their Student Government Assocation to work on. Other students can come and vote for the issues that they want to see fixed on campus, and get status updates on their presented ideas. </p>
          <p>
            <a class="btn btn-secondary" href="http://wtfumass.com" role="button">View the page &raquo;</a>
            <a class="btn btn-secondary" href="http://github.com/ryanmahan/wtfumass" role="button">View the code &raquo;</a>
          </p>
        </div>
        <div class="whitetext col-md-4">
          <h2>ARG!</h2>
          <p>This simple reaction time game was written for researchers to be able to create a scripted environment where a subject can compete against an unknown opponent. Researchers have complete control over who wins and loses and get a CSV of the actions of the player at the end of the trial.</p>
          <p>
            <a class="btn btn-secondary" href="/arg-psych" role="button">Play the game &raquo;</a>
            <a class="btn btn-secondary" href="http://github.com/ryanmahan/arg-psych" role="button">View the code &raquo;</a>
          </p>
        </div>
        <div class="whitetext col-md-4">
          <h2>HackUMass Dashboard</h2>
          <p>Originally written as a dashboard for HackUMass, Github wanted to sponsor our team to create a generalized open-source version for general use. With an easy set up, a group can use our dashboard that organizes mentors, attendees, events, prizes, and much more. We're currently writing better documentation, abstracting a lot of the hardcoded branding, and making set up easy as filling in a page of variables.</p>
          <p>
            <a class="btn btn-secondary" href="http://hackumass.com" role="button">View the page &raquo;</a>
            <a class="btn btn-secondary disabled" href="" role="button">Open Source soon! &raquo;</a>
          </p>
        </div>
      </div>
      <hr>
    </div> 
  </main>

{% include footer.html %}
</body>