---
title: Index
---
<head>
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.css">
  <link rel="stylesheet" type="text/css" href="styles.css">
  <link rel="shortcut icon" type="image/x-icon" href="res/triangle-circle.png">
  <script
    src="https://code.jquery.com/jquery-3.3.1.min.js"
    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>
  <link rel="stylehseet" type="text/css" href="feathericon-release/css/feathericon.min.css">
</head>
<body>
  {% include header.html %}
  <div class="box transparent centerbox">
    <article class="media">
      <div class="media-left">
        <figure class="image">
          <img src="/res/headshot.jpg" alt="Oops! I didnt load!">
        </figure>
      </div>
      <div class="media-content">
        <div class="content">
          <h1 class="is-size-2">Hey! I'm Ryan Mahan</h1> <br>
          <h3 class='is-size-4'>I love coding, hiking, and student leadership. At UMass (Class of 2019) I'm studying Computer Science, part of the web development team for <a class="whitelink" href="http://hackumass.com">HackUMass</a>, and I run the <a class="whitelink" href="https://umass.edu/sga">Student Government Association's</a> Legislative Branch.</h3>
          <br> <br>
          <div class="columns level-item">
            <div class="column">
              <p class="whitetext level-item is-size-4">
                Check out some of my work!
              </p>
            </div>
          </div>
          <div class="columns level-item">
            <div class="column">
            </div>
            <div class="column">
              <a class="button is-light level-item" href='/programming'>Programming</a>
            </div>
            <div class="column">
              <a class="button is-light level-item" href='/leadership'>Leadership</a>
            </div>
            <div class="column">
            </div>
          </div>
        </div>
      </div>
    </article>
  </div>
  <div class="container has-text-centered">
    <h1 class="whitetext is-size-2" style="margin-top: 5%;">Recent Projects</h1>
  </div>
  <div class="box centerbox transparent">
    <article class="media">
      <div class="media-left">
        <figure class="image">
          <img src="./res/hackumass.png" style="width: 150px;" alt="Oops! I didnt load!">
        </figure>
      </div>
      <div class="media-content">
        <div class="content">
          <h1 class="is-size-2">HackUMass Dashboard</h1> <br>
          <h3 class='is-size-4'>As a part of the HackUMass Tech Team, I worked on the ruby on rails based website we use for organizing the hackathon. This includes methods for users to apply, request for a mentor, RSVP, and check in. This project is going open source soon as SaaS and is sponsored by GitHub, check it out there soon. </h3>
        </div>
      </div>
    </article>
  </div>
  <div class="box centerbox transparent">
    <article class="media">
      <div class="media-left">
        <figure class="image">
          <img src="./res/sgacircle.png" style="width: 150px;" alt="Oops! I didnt load!">
        </figure>
      </div>
      <div class="media-content">
        <div class="content">
          <a href="http://www.wtfumass.com" ><h1 class="is-size-2">WTF UMass</h1> </a> <br>
          <h3 class='is-size-4'>What to fix (WTF) UMass is a website written in Node, Vue, and MongoDB where student can submit feedback anonymous to their peers for their Student Government Assocation to work on. Other students can come and vote for the issues that they want to see fixed on campus, and get status updates on their presented ideas. Check it out at <a class="link" href="www.wtfumass.com">wtfumass.com</a></h3>
        </div>
      </div>
    </article>
  </div>
  {% include footer.html %}
</body>