.gradient {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1e5799+0,612ae0+100 */
  background-size: cover;
  background: #1575e4; /* Old browsers */
  background: -moz-linear-gradient(-45deg, #299ddb 0%, #612ae0 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, #299ddb 0%,#612ae0 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, #299ddb 0%,#612ae0 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#612ae0',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.navbar-brand {
    position: relative;
    background: url(../images/logo.png);
    width: 170px;
    left: 15px;
    max-height: 70px; /* height of the navbar */
}

.techimg {
  max-width: 100%;
  height: auto;
  width: auto\9; /* ie8 */
}

.whitetext {
  color: #f5f5f5;
}

.navicon {
  color: #7c7c7d;
}

.navicon:hover {
  color: black;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 3%;
}