* {
  font-family: 'Roboto', sans-serif;
}

.title {
  text-align: center;
  margin-bottom: 5px;
}

button {
  position: fixed;
  padding: 12px;
  background: #6699FF;
  color: white;

}

.animal {
  width: 125px;
  height: 50px;
  text-align: center;
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2px;
}

.animal--purple {
  border: 4px solid rgb(129, 75, 180);
}

.animal--blue {
  border: 4px solid #4F71BE;
}

.animal--green {
  border: 4px solid #7EAB55;
}

.animal--orange {
  border: 4px solid #DE8344;
}

select {
  width: 100%;
}

.select--purple {
  border: 4px solid rgb(129, 75, 180);
}

.select--blue {
  border: 4px solid #4F71BE;
}

.select--green {
  border: 4px solid #7EAB55;
}

.select--orange {
  border: 4px solid #DE8344;
}

.select--silver {
  border: 4px solid #eeeeee;
}

.select--gold {
  border: 4px solid gold;
}

.conference-text {
  text-align: center;
  align-self: center;
  justify-self: center;
  margin: 3px;
  font-size: 1.5em;
  font-weight: 500;
}

.titles p:nth-of-type(2n-1) {
  margin-bottom: 4vh;
}

.conference-text--purple {
  color: rgb(129, 75, 180);
}

.conference-text--blue {
  color: #4F71BE;
}

.conference-text--orange {
  color: #DE8344;
}

.conference-text--green {
  color: #7EAB55;
}

.select-image {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.bracket {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.column {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 10vw;
}

