.bank {
  display: inline-block;
  width: 100%;
}

.token {
  margin: 0% .05em;
  height: 2.5em;
  width: 2.5em;
}

.stoplight {
  height: 50%;
  width: 50%;
  margin: 5% auto;
  justify-content: center;
  display: block;
}

.modal-backdrop
{
    opacity:0 !important;
}

.row {
  margin-right: 1%;
  margin-left: 1%;
}

#gobutton {
  height: 150px;
  width: 300px;
}

#debriefing {
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 5%;
}