---
title: Programming
---
<head>
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.css">
  <link rel="stylesheet" type="text/css" href="../styles.css">
  <script
    src="https://code.jquery.com/jquery-3.3.1.min.js"
    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>
</head>
<body>
  {% include header.html %}
  {% for project in site.data.projects %}
    {% include techbox.html var=project %}
  {% endfor %} 
  <!-- {% include techbox.html image='../res/hackumass.jpg' tech='Ruby on Rails, Postgres, lots of gems' name='Hackathon Dashboard' link='http://hackumass.com' text='Originally written as a dashboard for HackUMass, this SaaS is built so groups wishing to organize their own hackathon can have a dashboard that organizes mentors, attendees, events, and much more. We\'re currently preparing to launch it open source and documenting the software so anyone can use it. Check it out soon, its sponsored by Github!' %} -->
  <!-- {% include techbox.html image='../res/sgacircle.png' tech='Node, ExpressJS, Vue, MongoDB' link='http://www.wtfumass.com' name='WTF UMass' text='What to fix (WTF) UMass is a website written in Node, Vue, and MongoDB where student can submit feedback anonymous to their peers about UMass for their Student Government Assocation to work on. Other students can come and vote for the issues that they want to see fixed on campus, and get status updates on their presented ideas. Check it out at <a class="link" href="http://www.wtfumass.com">wtfumass.com</a>.' %} -->
</body>