<footer class="footer">
  <div class="has-text-centered is-centered">
    <p>
      Built by <strong>Ryan Mahan</strong> using <a href="http://bulma.io">Bulma</a> and <a href="http://pages.github.com">Github Pages</a>.
    </p>
    <p>Contact me via Email and LinkedIn</p>
      <a class="is-centered" href="mailto:ryanmahan97@gmail.com"><i class="fas fa-envelope fa-lg"></i></a>
      <a class="is-centered" href="https://www.linkedin.com/in/ryan-mahan/"><i class="fab fa-linkedin fa-lg"></i></a>
  </div>
</footer>