<footer class="container footer fixed-bottom">
  <div class="mt-3">
    <div class="container text-left">
      <p class="mr-3">
        Built by <strong>Ryan Mahan</strong> using <a href="http://getbootstrap.com">Bootstrap</a> and <a href="http://pages.github.com">Github Pages</a>.
        <span style="float: right;">
            Contact me
            <a class="is-centered" href="mailto:ryanmahan97@gmail.com"><i class="fas fa-envelope fa-lg"></i></a>
            <a class="is-centered" href="https://www.linkedin.com/in/ryan-mahan/"><i class="fab fa-linkedin fa-lg"></i></a>
        </span>
      </p>
    </div>
  </div>
</footer>