<footer class="container footer mt-4">
  <div class="row">
    <div class="col-md-7 container text-left">
      <p class="mr-3">
        Built by <strong>Ryan Mahan</strong> using <a href="http://getbootstrap.com">Bootstrap</a> and <a href="http://pages.github.com">Github Pages</a>.
      </p>
    </div>
    <div class="col-md-4 container text-right ml-3">
      <p>
        Contact me
        <a class="is-centered" href="mailto:ryanmahan97@gmail.com"><i class="fas fa-envelope fa-lg"></i></a>
        <a class="is-centered" href="https://www.linkedin.com/in/ryan-mahan/"><i class="fab fa-linkedin fa-lg"></i></a>
      </p>
    </div>
  </div>
</footer>