<div class="box centerbox transparent">
  <article class="media">
    <div class="media-left">
      <figure class="image">
        <img src="{{ include.var.image }}" style="width: 150px;" alt="Oops! I didnt load!">
      </figure>
    </div>
    <div class="media-content">
      <div class="content">
        <a href={{ include.var.link }} ><h1 class="is-size-2">{{ include.var.name }}</h1> </a>
        <h3>{{ include.var.tech }}</h3>
        <h5 class='is-size-5'>{{include.var.text}}</h5>
      </div>
    </div>
  </article>
</div>