<div class="container pt-5">
  <div class="card">
    <div class="row justify-content-start">
      <div class="col-2 ml-2 mt-2">
        <img class="techimg" src="{{ include.var.image }}" alt="Card image cap">
      </div>
      <div class="col-8">
        <div class="card-body">
          <h5 class="card-title">{{ include.var.name }}</h5>
          <h6 class="card-subtitle">{{ include.var.tech }}</h6>
          <p>{{ include.var.text }}</p>
          <p class="card-text">
            <a class="btn btn-secondary" href="{{ include.var.link }}" role="button">View the page &raquo;</a>
            <a class="btn btn-secondary" href="{{ include.var.code }}" role="button">View the code &raquo;</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

